<h3>About</h3>
<p>Botmetrics was developed as a learning exercise for its author and a means of helping individuals, teams and organizations improve their effectiveness by enabling the display and sharing of key metrics.</p>

<p>The term <em>bot</em> in Botmetrics is an acronym for "behavior over time", a type of chart commonly used for process improvement purposes.  The term is also short for <em>robot</em> in light of the automation this site seeks to achieve.</p>

<p>During the current development and testing phase, only a limited set of users can create charts and dashboards, but dashboards can be shared with anyone with the dashboard's URL.  The site should be open for more general use sometime during the summer of 2013.</p>

<p>For more information about Botmetrics, contact Peter Alfvin at palfvin (at) gmail (dot) com.
</p>
