<div id=<%= "chartcontainer_#{chart.id}" -%> style="height:100%">
  <div id=<%= "chart_#{chart.id}" -%> style="height:100%"></div>
</div>
<script>
$(document).ready(function () {
  $('<%= "#chart_#{chart.id}"-%>').highcharts( <%= chart.javascript_plus if chart.javascript %> );
});
</script>




