<% provide(:title, 'Table') %>

<div class="row">
  <div class="span6 offset3">
    <%= bootstrap_form_for(@table) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my table", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
