<h1><%= @dashboard_owner ? link_to(@dashboard.name, edit_dashboard_path(@dashboard)) : @dashboard.name %></h1>
<div class="text-centered"><%= @dashboard.description %></div>

<div><%= render @dashboard.dashboard_elements %></div>
