<% if @skip_footer && !@skip_footer %>  <!-- Not using for now -->
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
<% end %>